{% extends 'base.html.twig' %}

{% block title %} Program # {{ program.id }}{% endblock %}
{% block body %}

    {# This page is coming from link created in category/show.html.twig. It shows Unique program in details. #}
    <div class="media">
        <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.summary }}</p>
            <p> Category: {{ program.category.name }}</p>
{# Next, I prepare the link bringing to SEASON info by unique seasons. Here each season mention brought from Program entity with relations  #}
            {% for season in program.seasons %}
          <h5> <a href="{{ path('program_season_show', {programId: program.id, seasonId: season.id}) }}"> {{ season.description}}</a></h5>
            {% endfor %}

        </div>
    </div>
<div>
    {# we can go to seperate page where all programs are listed by findAll() #}
    <a href="{{ path('program_index') }}">
        Back to the programs' list
    </a>
</div>
    <div>
    <a href="{{ path('category_index') }}">
        Back to the category list
    </a>
    </div>
{% endblock %}



{#
 <h2 style="text-decoration: underline">Liste des seasons</h2>
    {% for season in program.seasons %}
        <h2  style="padding-left: 20px"><a href="{{ path('program_season_show', { programId: program.id , seasonId: season.id}) }}">{{ season.description }}</a></h2>
    {% endfor %}
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
#}
